.game {
  background-image: url(../asserts/img/logo.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  /* background: violet;
  width: 100%;*/
  width: 100%;
  height: 92%;
  position: absolute;
  overflow-x: hidden;
}

.status {
	float: right;
}
