header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	border-bottom : 1px solid rgba(255, 255, 255, 0.3);
	padding: 15px;
	z-index: 100;
	
}

header a {
	color: white;
}
