body {
	font-family: Arial;
	/*background: rgb(35, 35, 35);*/
	background: #0d0d14; 
	margin: 0;

}
html, body, #root{
	width: 100%;
	height: 100%;
}
#root>div {
	min-width: 100%;
	min-height: 100%;
	position: relative;
}
.red_button_header {
	border: 1px solid rgb(255, 0, 128);
	background: none;
	color: rgb(255, 0, 128);
	font-size: 1rem;	
	cursor: pointer;
}

.red_button_list {
	width: 83px;
	border: 1px solid rgb(255, 0, 128);
	background: none;
	color: rgb(255, 0, 128);
	font-size: 1rem;	
	cursor: pointer;
}

.green_button {
	border: 1px solid rgb(10,234,111);
	background: none;
	color: rgb(10,234,111);
	font-size: 1rem;	
	cursor: pointer;
}

.white_button {
	border: 1px solid white;
	background: none;
	color:  white;
	font-size: 1rem;	
	cursor: pointer;
}

.blue_button {
	border: 1px solid rgb(84, 152, 255);
	background: none;
	color:  rgb(84, 152, 255);
	font-size: 1rem;	
	cursor: pointer;
}

.playerStatus {
	color: #eee;
	padding: 5px;
	margin: 6px;
	width: 60;
	display: block;
	float: left;
}
.sweet-loading {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.5);
	margin: auto;
	z-index: 100;
}
.wall {
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.5);*/
	z-index: 130;
	position: absolute;
}