.lifeline {
	list-style: none;
	padding: 20px;
	margin:0;
}

.lifeline li {
	margin-right: 5px;
	background: url(../asserts/img/lifeline_sprite_67x44.png) no-repeat;
	display: inline-block;
	width: 68px;
	height: 44px;
	cursor: pointer;
}
.lifeline .fiftyfifty:hover {
	background-position: 0 -44px;
}

.lifeline .callfriend {
	background-position: -74px 0;
}
.lifeline .callfriend:hover {
	background-position: -74px;
}

.lifeline .audience {
	background-position: -148px 0;
}
.lifeline .audience:hover {
	background-position: -148px;
}

.lifeline .used5050 {
	background-position: 0 -88px;
}

.lifeline .usedAudience {
	background-position: -148px -88px;
}

.lifeline .usedCallfriend{
	background-position: -74px -88px;
}
