input, select {
	margin: 5px; 
	padding: 2px 4px 4px 4px;
	border: 1px solid rgb(255, 255, 255);
	font-size: 1.2rem;
}
select {
	width: 250px; 
}

form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.normal_form {
  /* background-color: white; */
	border: 1px solid rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 100px;
}

.incorrect_form {
	background-color: rgba(255, 0, 0, 0.404);
	/* background-color: rgb(255, 189, 189); */
	border: 1px solid rgb(255, 255, 255);
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 100px;
}



button:hover {
	text-decoration:underline;
}

::placeholder {
	color: #B0BFCF;
}
