
.answertable {
    display:grid;
    pointer-events: none;
    justify-content: left;
    max-width: 390px;
    float: right; 
}

.prelimPlayerTable th {
  padding: 10px;    
  border: 1px solid rgba(255, 255, 255, 0.5);    
}

.prelimPlayerTable td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.prelimPlayerTable table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
}

.prelimPlayerTable{
  animation: appear 1s forwards;
  opacity: 0;
  padding-top: 6px;
  padding-left: 200px;
}

.prelimPlayerTable button {
  margin-top: 40px;
}
.prelimAnswer{
  transform: translate(100%);
  animation: slide 2s forwards;
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide {
from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}