.question_pannel {
	margin: auto;
	display: block;
	position: absolute;
	left: 0;
	bottom: 20px;
	right: 0;
	width:820px;
	color: #eee;
}

.question {
	width: 820px;
	height: 100px;
	background: url(../asserts/img/q.svg) no-repeat;
	background-size: contain;
	margin-bottom: 5px;
	display: table;
}
.question p {
	padding: 0 54px;
	display: table-cell;
	vertical-align: middle;
}
.answers {
	padding-left: 0px;
	color: #eee;
}
.answer {
	width: 390px;
	height: 50px;
	display: inline-block;
	margin: 5px 0;
	font-size: 16px;
	cursor: pointer;
	background: url(../asserts/img/ansLT.svg) no-repeat;
}
.answerbar:nth-child(2n) {
	background: url(../asserts/img/ansRT.svg) no-repeat;
	position: relative;
	float: right;
	margin-left: none;
	margin-right:3px;
}

.answerbar:nth-child(2n):before{
	content: "";
	display: block;
	width: 37px;
	border: solid 1px #c8f6fe;
	position: absolute;
	top: 50%;
	left: -37px;
}
.answers p {
	padding: 17px 30px;
	margin: 0 auto;
}
.answers span{
	color: #df8900;
}

.answer:hover {
	background-position: 0 -50px;
	color: black;
}
.answer:hover span {
	color: white;
}

.rightAnswer {
	background-position: 0 -100px !important;
	color: black;
}
.rightAnswer span {
	color: white;
}

.wrongAnswer {
	background-position: 0 -50px  !important; 
	color: black;
}
.wrongAnswer span {
	color: white;
}
