.roomList {
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
    background-color: rgba(255, 255, 255, 0.05);
    padding-bottom: 80px;
	font-size: 1.5rem;	
    color: white;
  }

.roomList th {
    padding: 10px;    
    border: 1px solid rgba(255, 255, 255, 0.5);    
}

.roomList td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.roomList caption {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.roomList table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-collapse: collapse;
}

/* .active_room {
    background-color: rgba(0, 255, 128, 0.4);
} */
.activeRow td div{
    margin: 5px; 
    padding: 2px 4px 4px 4px;
    width: 241px;
    height: 22;
}

.smpleRow td div{
    margin: 5px; 
    padding: 2px 4px 4px 4px;
    width: 241px;
    height: 22;
    cursor: pointer;
}
.smpleRow:hover{
    background: #555;
}