.waitGame {
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
    background-color: rgba(255, 255, 255, 0.05);
    padding-bottom: 80px;
    padding-top: 40px;
	  font-size: 1.5rem;	
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waitGame caption {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.waitGame th {
  padding: 10px;    
  border: 1px solid rgba(255, 255, 255, 0.5);    
}

.waitGame td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.waitGame table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
}

.waitGame button {
  margin-top: 40px;
}
